<div class="container">
    <div id="home"  class="flex-center flex-row">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title class="bold">Shiba Inu</mat-card-title>
              <mat-card-subtitle class="medium">Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="regular">
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title class="bold">Shiba Inu</mat-card-title>
              <mat-card-subtitle class ="medium">Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="regular">
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
        </mat-card>

    </div>
</div>